[submodule "third/lua"]
	path = third/lua
	url = https://github.com/lua/lua.git
[submodule "third/luajit"]
	path = third/luajit
	url = https://github.com/LuaJIT/LuaJIT.git
[submodule "third/sljit"]
	path = third/sljit
	url = https://github.com/zherczeg/sljit.git
